
<div class="row">
<div class="col-md-2"></div>
  <div class="item">
    <h1><strong>Inbox</strong></h1>
    <% if !conversations.nil? %>
      <% conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <h3><%= link_to recipient.email, notification_path(conversation.id) %></h3>
        <% end %>
      <% end %>
    <% end %>
    <% if conversations.length == 0 %>
      <h3><p class="text-danger">Your inbox is empty!</p></h3>
    <% end %>
  </div>
</div>
<div class="col-md-2"></div>
</div>