<div class="row">
  <div class='col-md-3'></div>
    <div class='col-md-7'>

    <h1>Tiger-Car-App</h1>
    <p style="margin-bottom:1cm;"></p>
    <p>Many students at UofM want to buy a car but they do not know where to get a good car at an affordable price.
    On the other hand , many UofM students want to sell their car before leaving campus but cant find a reliable source to sell their car. This web platform will enable
    both buyer/seller to fullfil their needs. Most of the students also have financial constraints while buying a car.
    Since many of the sellers will be from UofM , it will be easier for both parties to buy/sell a car with limited
    budget constraints. It will also be easier to meetup for both parties if they are from UofM . They can meet on
    campus without having to go someplace far away.<p>
    <p>Students will be registered into the system with their unique UofM ID and password . So any fraudulent activity can
    be easily tracked. Students can report any issues to the campus authority if anything suspicious happens.</p>

    </div>
  <div class="col-md-3"></div>
</div>